.btn {
    background: linear-gradient(294.72deg,#e0b908 9.05%,#fc9004 79.28%);
    border-radius: 15px 15px;
}
.navbar-toggler{
    background: linear-gradient(294.72deg,#e0b908 9.05%,#fc9004 79.28%);

}

.bodi {
    background-image: url("assets/images/backgroun.a24f02b3.jpeg");
}

.nav-item h5 { 
    color: #ffc400;
}

.bg {
    background-color: #ffc400;
    height: 100px;
    border-radius: 25px 25px 0px 0px;
}
.white{
    background-color: white;
    /* height: 500px; */

}
.bttn{
    background-color: #ffc400;

}
.btn-bg{
    background-color: white;
    border-radius: 5px 5px ;
}
.oo:hover{
    background-color: white;
    box-shadow: #ffc400;
}